---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  text: string;
}
const { text, href, ...props } = Astro.props;
let isActive: boolean;
if (!href) {
  isActive = false;
} else if (href === "/") {
  isActive = href === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.includes(
    typeof href === "string" ? href : href.href,
  );
}
---

<a
  class:list={[
    "font-semibold text-base block my-2.5 transition-colors",
    { "dark:text-stone-50 text-stone-950": isActive },
    {
      "dark:text-stone-400 text-stone-600 hover:text-stone-800 dark:hover:text-stone-50":
        !isActive,
    },
  ]}
  aria-current={isActive ? "page" : undefined}
  href={href}
  {...props}
  aria-label={`Go to ${text} page`}
>
  {text}
</a>
